<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Barnes and Noble Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.bn.qa.listeners.ExtentReportListener" />
	</listeners>


	<test name="BN App Test Cases">
		<classes>
			<class name="com.bn.qa.testcases.SigninTest"></class>
			<class name="com.bn.qa.testcases.HomePageTest"></class>
			<class name="com.bn.qa.testcases.searchbookTest"></class>

		</classes>
	</test>
</suite>